<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.hevs.alexpira">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DisplayBedActivity"
            android:label="@string/menu_detailbed"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".StatisticsActivity"
            android:label="@string/menu_stats"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SearchPatientActivity"
            android:label="@string/menu_searchpatients"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".SearchBedActivity"
            android:label="@string/menu_searchbed"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".Home"
            android:label="@string/menu_home" />
        <activity
            android:name=".DisplayPatientActivity"
            android:label="@string/menu_detailpatient"/>
        <activity
            android:name=".AddPatient"
            android:label="@string/menu_addpatient"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AddBedActivity"
            android:label="@string/menu_addbed"
            android:parentActivityName=".MainActivity"
            />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.hevs.alexpira.MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>