<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ch.hevs.alexpira">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.bed.ListBedActivity"
            android:label="@string/menu_detailbed"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.admin.StatisticsActivity"
            android:label="@string/menu_stats"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.patient.SearchPatientActivity"
            android:label="@string/menu_searchpatients"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.bed.SearchBedActivity"
            android:label="@string/menu_searchbed"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/menu_home" />
        <activity
            android:name=".ui.patient.DisplayPatientActivity"
            android:label="@string/menu_detailpatient" />
        <activity
            android:name=".ui.patient.AddEditPatientActivity"
            android:label="@string/menu_addpatient"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.bed.AddBedActivity"
            android:label="@string/menu_addbed"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.patient.DisplayPatientsActivity"
            android:label="@string/menu_detailpatients"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.admin.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ch.hevs.alexpira.ui.MainActivity" />
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>